<div class="formSales">
    <div class="row">
        <div class="col-xs-8 ">
      <br/>
      <br/>      
    <h2>Create new Sales Persons</h2>
    <div class="form">
         <form   (ngSubmit)="onSubmit(f)" #f="ngForm">
            <div class="col-sm-3 form-group">
               <label>Name</label>
         <br/>
               <input type="text" id="name"
                  class="form-control"
                  name="name"
                   ngModel
                   required> 
                   </div>
    
                   <div class="col-sm-3 form-group">
                   <label >Phone number</label>
                <br/>
                   <input type="text" id="number"
                   minlength="10" 
                   maxlength="10"
                   class="form-control"
                   name="phoneNumber"
                   ngModel
                   required
                   >
                </div>
    <br/>
    <div class="col-sm-8 col-xs-8 form-group">
                       <label>Description</label><br/>
                       <div class="length">
                       <input type="text" id="description"
                       
                       class="form-control"
                       name="description"
                       ngModel
                       required
                   >
                  </div>
                    </div>
    
             <div class="buttons">
             <div class="row">
                <div class="col-xs-12">
                    <button 
                    type="submit"
                    class="btn btn-success" [disabled]="!f.valid" >{{editMode ? 'Update' : 'Add'}} </button>

                    <button class="btn btn-danger" 
                    type="button"
                    (click)="onDelete()"
                    [disabled]="!f.valid">Delete</button>

                    <button class="btn btn-primary" type="button" (click)="onClear()">Clear</button>
                </div>
              </div> 
              </div>
         </form>
         </div> 
    </div>
    </div>
   </div>
