<div class="row">
    <div class="col-xs-10">
        <hr>
<div class="persons">
<h3>Sales Persons List</h3>
<br/>
    <ul class="list-group">
        <a
        class="list-group-item"
        style="cursor: pointer"

        *ngFor="let salesPersons of persons
         ; let i = index"
        (click)="onEditProduct(i)">
        <li class="list-group-item list-group-item-action list-group-item-dark"><h3>{{i+1}} </h3>
            <div class="listItem">{{salesPersons.name}} | {{salesPersons.phoneNumber}} | {{salesPersons.description}}
</div></li>
</a> 
</ul>
</div>
</div>
</div>

