
<div class="Add">
    <div class="row">
        <div class="col-xs-8">
        <h2>Create new Brand</h2>
         <form   (ngSubmit)="onSubmit(f)" #f="ngForm">

            <div class="row">

            <div class="col-sm-2 form-group">
               <label>Name</label>
               <input type="text" id="name"
                  class="form-control"
                  name="name"
                   ngModel
                   required> 
                   </div>
    
                   <div class="col-sm-2 form-group">
                   <label for="id">Id</label>
                   <input type="number" id="id"
                   class="form-control"
                   name="id"
                   ngModel
                   required
                   >
                </div>
               </div>
         
         <div class="isActive">
            <div class="row">
              <div class="col-sm-4 form-group">
                <label for="exampleFormControlSelect1">Is Active</label>
                <select class="form-control" id="isActive"
                name="isActive"
                 ngModel 
                 required>
                  <option>Yes</option>
                  <option>No</option>
                </select>
              </div>

            </div>
            </div>

            
             <div class="buttons">
             <div class="row">
                <div class="col-xs-12">
                    <button 
                    type="submit"
                    class="btn btn-success" [disabled]="!f.valid" >{{editMode ? 'Update' : 'Add'}} </button>

                    <button class="btn btn-danger" 
                    type="button"
                    (click)="onDelete()"
                    [disabled]="!f.valid">Delete</button>

                    <button class="btn btn-primary" type="button" (click)="onClear()">Clear</button>
                </div>
              </div> 
              </div>
         </form>
         </div> 
    </div>
    </div>

