.buttonCreate{
    
    margin-left: 2cm;
}
.person-item{
    margin-top: 2cm;
    margin-left: 2cm;
    width: 7cm;
    height: 3cm;
    text-align:left;
    border: 1px solid rgb(10, 41, 81);
    border-radius: 8px;
}
h3{
    font-size: small;
    padding-left: 1cm;
}